/*
	Dream Fly(TM) GuestBook Theme Series
	Type Name: XPower 系列（橘）
	Author:    酷虫工作室 moth3k@163.com
	
	
	This CSS templet is used for version 3.0 (v20031120) or later
*/

BODY{
	FONT-SIZE: 12px;
    COLOR: #666666;
    FONT-FAMILY:  宋体;
    background-color: #FFFFFF;
    scrollbar-ARROW-COLOR: #FFffff;
    scrollbar-3DLIGHT-COLOR: #CCCCCC;
    scrollbar-Base-Color: #CCCCCC;
    scrollbar-TRACK-COLOR: #F6F6F7;
	background-image:url('../bj.gif');
	background-position: center;
}

TD { font-size: 9pt; color: #333333; }

.Revort { color: #FF3300;}

a:link, a:visited {color: #333333; text-decoration: none;}
A:hover, A:active { color: #FF6600; text-decoration: underline;}}

input.button { font-size: 12px; color: #333333; border: 1px outset #FA7614; padding-top: 2; 
               background-color: #FDD2B3 }

.text, INPUT.text, TEXTAREA, SELECT {
	font-size: 9pt;
	border: 1px solid #A2A2A2;
	background-color: #F9F9F9;
}
.locktext {
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
}

.MenuBar_B{
	background-color: #E6E6E6;
	background-image: url('../MenuBar_T.gif');
}
.MenuBar{
    color : #000000;
	height: 28;
	background-image: url('../MenuBar.gif');
	background-repeat: repeat-x;
	background-color: #F0F0F0;
}
#MenuBar, #MenuBar a:link, #MenuBar a:visited { color: #333333; text-decoration: none;}
#MenuBar a:hover, #MenuBar a:active{ color: #FF6600}

/* 
标题栏 样式
  背景可由单一图片（width : 730）构成，此时仅使用 TitleBar 即可。
  也可分为左、中、右三部分组合而成，需辅助以下样式 TitleBar_L、
  TitleBar_T、TitleBar_R。

  TitleBar   : 高度、背景图片／颜色、边框
  TitleBar_L : 宽度、背景图片
  TitleBar_T : 宽度、背景图片、文字
  TitleBar_R : 宽度、背景图片
*/

.TitleBar{ 
	height: 26;
	background-image: url('TitleBar.gif');
	background-repeat: repeat-x;
	background-color: #9CA6C6;
}
.TitleBar_R{
	width: 14;
	background-image: url('TitleBar_R.gif');
	background-repeat: no-repeat;
	background-position: right;
}
.TitleBar_L{
	width: 14;
	background-image: url('TitleBar_L.gif');
	background-repeat: no-repeat;
	background-position: left;
}
.TitleBar_T{
	font-family: "宋体", "Times New Roman";	
	font-size: 13px;
	font-weight: bold;
	color: #333333;
}

/*
文字框左右边框 样式
  建议使用图片边框，主要设定宽度（1-5）、背景颜色／图片
*/
.Border_L, .Border_R{
	width: 1;
	background-color: #A2A2A2;
}

/*
底线 样式
  类似 标题栏
*/

.Hemline{
	height: 15;
	background-image: url('../Hemline.gif');
	background-repeat: repeat-x;
	background-color: #F0F0F0;
}
.Hemline_L {
	width: 15;
	background-image: url('../Hemline_L.gif');
	background-repeat: no-repeat;
	background-position: left;
}
.Hemline_R {
	width: 15;
	background-image: url('../Hemline_R.gif');
	background-repeat: no-repeat;
	background-position: right;
}
.Hemline_T {}

/*
文本区线形 样式
  bgLine ：用于宽度（或高度）为 1 的线。由单元格构成，主要指定其背景颜色。
  hr     ：由于 <HR> 标签的样式，长度已定。主要指定其颜色。
*/

.bgLine {
	background-color: #C4C4C4;
}
hr {
	color: #BCBDCD;
}
.insist { color: #FF0000; }
.ToolTip   { border: 1px solid #666666; background-color: #F9F9F9; color:333333 }

/*
文本显示区背景 样式
  背景、边框
*/
.TextBox_1 { background-color: #FFFFFF;}
.TextBox_2 { background-color: #F9F9F9;}